/* Add this CSS to your stylesheet or use a CSS-in-JS approach */

.table-container {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.logout {
  background-color: rgb(190, 26, 26);
  color: white;
  font-weight: bold;
  border: none;
  padding: 5px;
  width: 70px;
  margin: 20px;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  font-family: Arial, sans-serif;
}

th,
td {
  padding: 12px;
  text-align: left;
}

th {
  background-color: #333;
}

tr:hover {
  background-color: #444;
}

p {
  font-size: 16px;
  color: #f1cece;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}
